// src/scss/abstracts/_mixins.scss
@use "./variables";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: variables.$breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: variables.$breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: variables.$breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: variables.$breakpoint-xl) {
      @content;
    }
  }
}
